<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitcoinTrayTicker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <BitcoinTrayTicker.Properties.Settings>
            <setting name="SelectedCurrency" serializeAs="String">
                <value>EUR</value>
            </setting>
            <setting name="NotifyPercentageValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>120</value>
            </setting>
        </BitcoinTrayTicker.Properties.Settings>
    </userSettings>
</configuration>
